@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unica+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* body::-webkit-scrollbar {
	display: none;
} */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

.time{
font-family: 'Unica One', cursive;
}

.time span{
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background-color: #150E28;
}

::-webkit-scrollbar-thumb {
  background: #903AFF;
}

::-webkit-scrollbar-thumb:hover {
  background: #903AFF; 
}


nav{
   transform: translateX(-100%);
   transition: ease-in-out 300ms;
}

nav.show{
  transform: translateX(0);
}

nav li > a:hover{
  background: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 500ms;
}


html{
  font-size: 13px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.prize-section{
  background-blend-mode: color-burn;
}

.twinkle-animation {
  animation-duration: 3.3s;
  animation-name: twinkle;
  animation-iteration-count: infinite;
  transition: linear;
}


@keyframes twinkle {
 50% {
    transform: scale(0.6);
    opacity: 0.6;
  }
}


@keyframes globe {
  0% {
     transform: scale(0.1);
     opacity: 0;
   }

  50% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
 }


.twinkle-animation:nth-child(2n+1){
  animation-delay: 1s;
}

.input-field, form input[type="text"],
 form input[type="mail"],
 form input[type="number"],
 form textarea{
  border-radius: 4px;
border: 1px solid #FFF;
background: rgba(255, 255, 255, 0.03);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
outline: 0;
width: 100%;
}

form input[type="text"]:focus, 
form input[type="mail"]:focus, 
form textarea:focus{
border: 1px solid #D434FE;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"] {
  opacity: 0;
  }

input[type="checkbox"]:checked {
  accent-color: #D434FE;
  opacity:1
  }

.globe-animation {
  animation-duration: 8s;
  animation-name: globe;
  animation-iteration-count: infinite;
  transition: ease-in-out forwards;
}

 .gradient-bg {
background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
}

.gradient-text{
  background: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.judge-circle{
  background: linear-gradient(270deg, #8F01FE 0%, #FF2674 97.24%);
}

.gradient{
border-radius: 4px;
background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.hero-image {
  mix-blend-mode: luminosity;
}

.blend-mode{
  mix-blend-mode:hard-light;
  /* background-color: white; */
}

.globe{
  mix-blend-mode: hard-light;
}

@font-face {
  font-family: "Cd-Regular";
  src: url("/font/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "Cd-Bold";
  src: url("/font/ClashDisplay-Bold.otf");
}

@font-face {
  font-family: "Cd-SemiBold";
  src: url("/font/ClashDisplay-Semibold.otf");
}

@font-face {
  font-family: "Cd-Medium";
  src: url("/font/ClashDisplay-Medium.otf");
}


@media(min-width:640px) and (max-width:1023px){
  html{
    font-size: 15px;
  }
}

@media(min-width: 1024px){
  html{
    font-size: 17px;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }
  
  .box1 {
    grid-area: 1 / 1 / 1 / 6; /* Start at row 1, column 1, end at row 3, column 2 */
  }
  
  .box2 {
    grid-area: 1 / 2 / 1 / 9; /* Start at row 1, column 1, end at row 3, column 2 */
  }

  .timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line{
    height: 86px;
    width: 4px;
    background: #D434FE
  }
  
  .left{
    width: 30rem;
    right: 180%;
    text-align: right;
  }
  
  .right{
    width: 30rem;
    left: 180%;
  }

  .step_circle {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
  }

  nav{
    transform: translateX(0);
 }
 
 nav.show{
   transform: translateX(0);
 }

 .form-box{
  border-radius: 12px;
background: rgba(255, 255, 255, 0.03);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

  
}